.Home {
  text-align: center;
  background-color: rgb(42, 42, 42) !important;
  margin-top: 50px;
  padding: 50px 0;
  color: rgb(240, 240, 240);
}

.Home-buttons-container {
  margin-top: 25px;
}

.Home-button {
  color: rgb(240, 240, 240) !important;
}