.Container {
  text-align: center;
  color: white;
  background-color: rgb(48, 48, 48);
  margin-top: 50px;
  padding: 50px 0;
}

.Content {
  margin-top: 25px;
}

.Factors {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.FlavorText {
  font-size: 12px;
  color: rgb(140, 140, 140);
  margin-bottom: 3px;
}

.FlavorText.left {
  text-align: left;
}

.Legend {
  padding-bottom: 10px;
}

.Formula {
  font-size: 36px;
  font-weight: 100;
  color: white;
  /* padding-bottom: 10px; */
}

.Parameters {
  margin: 10px 20px;
  padding: 15px 15px 0;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.SelectField {
  text-align: left;
}

.amcharts-chart-div a {display:none !important;}