.Container {
  text-align: center;
  /* color: white; */
  color: black;
  /* background-color: rgb(48, 48, 48); */
  background-color: #eceeef;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 0;
}

.GraphContainer {
  /* padding-top: 25px; */
  background-color: #f8f8f8;
  /* margin: 15px; */
}

.GraphToolbar {
  background-color: #eceeef !important;
}

.GraphBackground {
  background-color: #ffe8bf;
  width: 1140px;
  /* height: calc(100% + 300px); */
  height: 1015px;
  position: absolute;
  z-index: -1000;
}

@media (max-width: 1200px) {
  .GraphBackground {
    width: 960px;
  }
}

.Content {
  margin-top: 25px;
}

.ConceptMultiSelect {
  min-width: 300px;
  text-align: left;
  margin-left: 24px;
}

.Legend {
  width: 200px;
  margin: 30px;
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 10px;
  text-transform: uppercase;
}

.InfoContainer {
  /* padding: 15px 15px 0; */
  padding: 30px;
  padding-top: 0;
}

.InfoContainerPaper {
  width: 100%;
}

.InfoLegend {
  text-align: left;
  padding: 10px;
  /* background-color: #eceeef; */
}

.InfoLegendTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 3px;
}

.InfoLegendTitle.selection {
  /* display: inline-block; */
  font-style: italic;
}

.InfoLegendButton {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.InfoLegendLinks {
  background-color: rgba(11, 179, 214, 0.3);
  padding: 15px;
  text-align: center;
  /* border: 2px solid black; */
}

.InfoLegendLinks.link.formulaic {
  background-color: rgba(228, 82, 75, 0.3);
}

.InfoLegendLinks.link.causal {
  background-color: rgba(131, 198, 72, 0.3);
}

.InfoLegendLinks.grey {
  background-color: rgba(49, 52, 53, 0.05);
  margin-top: 15px;
}

.InfoLegendItem.type {
  text-decoration: underline;
  opacity: 0.4;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-left: 5px;
  font-style: normal;
  position: absolute;
  right: 25px;
  top: 50px;
  text-align: right;
}

.InfoLegendItem.filter {
  text-align: center;
  text-decoration: underline;
  opacity: 0.4;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: -30px;
  margin-left: 5px;
  font-style: normal;
}

.LinksTo {
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  width: 100%;
  opacity: 0.3;
}

.VariableItem {
  margin: 10px;
  /* display: inline-block; */
}

.VariablesContainer {
  margin-top: 150px;
  text-align: left;
  width: 250px;
  margin-left: auto;
}

.SaveContainer {
  text-align: center;
  /* width: 250px; */

  margin-left: auto;
  margin-right: auto;
}

.SaveEdits {
  float: right;
  margin-top: 20px;
}

.Accent {
  display: inline-block;
  font-size: 25px;
  width: 20px;
  text-align: center;
}

.Accent.red {
  color: rgb(228, 82, 75);
}

.Accent.blue {
  color: rgb(11, 179, 214);
}

.Accent.green {
  color: rgb(131, 198, 72);
}

.SelectField {
  text-align: left;
}

.Factors {
  padding-top: 7px;
  /* text-align: left; */
}

.ToolbarTitle {
  font-size: 18px !important;
  color: black !important;
  padding-left: 24px !important;
  padding-right: 0 !important;
}

.ToolbarTitle.dropdown {
  margin-left: -15px !important;
  margin-bottom: 8px !important;
  padding-left: 5px !important;
  padding-right: 0 !important;
}

.CreateNode {
  text-align: left;
  float: left;
}

.CreateNodeInput {
  margin: 0 15px;
}

.NodeReference {
  font-size: 12px;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px;
}

.NodeReference:hover {
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s;
}

.WeightForm {
  /* margin: 20px; */
  /* padding-bottom: 20px; */
  /* display: inline-block; */
  /* text-align: center; */
}

.EditLinkModal {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.EditLinkForm {
  display: grid;
  grid-template: 1fr / 2fr 5fr 5fr;
  margin-top: 20px;
}

.EditLinkForm.full {
  grid-template: 1fr / 2fr 10fr;
}

.EditLinkFormLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.ChipContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ChipSpacer {
  display: inline-block;
  margin: 3px 5px;
}

.amcharts-chart-div a {display:none !important;}