.Container {
  text-align: center;
  /* color: white; */
  color: black;
  /* background-color: rgb(48, 48, 48); */
  background-color: #eceeef;
  margin-top: 50px;
  padding-top: 3px;
  padding-bottom: 0;
}

.GraphContainer {
  /* padding-top: 25px; */
  background-color: #f8f8f8;
  /* margin: 15px; */
}

.GraphToolbar {
  background-color: #eceeef !important;
}

.GraphBackground {
  background-color: #fff9e5;
  width: 1140px;
  height: calc(100% + 300px);
  position: absolute;
  z-index: -1000;
}

@media (max-width: 1200px) {
  .GraphBackground {
    width: 960px;
  }
}

.Content {
  margin-top: 25px;
}

.Legend {
  width: 200px;
  margin: 30px;
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 10px;
  text-transform: uppercase;
}

.ForceGraphContainer {
  padding-left: calc((100% - 1000px) / 2);
}

.InfoContainer {
  /* padding: 15px 15px 0; */
  padding: 30px;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.InfoContainerPaper {
  width: 100%;
}

.InfoLegend {
  text-align: left;
  padding: 10px;
  /* background-color: #eceeef; */
}

.InfoLegendTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 3px;
}

.InfoLegendTitle.selection {
  /* display: inline-block; */
  font-style: italic;
}

.InfoLegendButton {
  text-align: center;
  margin: 10px;
}

.InfoLegendLinks {
  background-color: rgba(11, 179, 214, 0.3);
  padding: 15px;
  text-align: center;
  /* border: 2px solid black; */
}

.InfoLegendItem.type {
  text-decoration: underline;
  opacity: 0.4;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-left: 5px;
  font-style: normal;
  position: absolute;
  right: 25px;
  top: 50px;
  text-align: right;
}

.InfoLegendItem.filter {
  text-align: center;
  text-decoration: underline;
  opacity: 0.4;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: -30px;
  margin-left: 5px;
  font-style: normal;
}

.LinksTo {
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  width: 100%;
  opacity: 0.3;
}

.VariableItem {
  margin: 10px;
  /* display: inline-block; */
}

.VariablesContainer {
  margin-top: 150px;
  text-align: left;
  width: 250px;
  margin-left: auto;
}

.SaveContainer {
  text-align: center;
  /* width: 250px; */

  margin-left: auto;
  margin-right: auto;
}

.SaveEdits {
  float: right;
  margin-top: 20px;
}

.Accent {
  display: inline-block;
  font-size: 25px;
  width: 20px;
  text-align: center;
}

.Accent.red {
  color: rgb(228, 82, 75);
}

.Accent.blue {
  color: rgb(11, 179, 214);
}

.Accent.green {
  color: rgb(131, 198, 72);
}

.SelectField {
  text-align: left;
}

.Factors {
  padding-top: 7px;
  /* text-align: left; */
}

.ToolbarTitle {
  font-size: 18px !important;
  color: black !important;
  padding-left: 24px !important;
  padding-right: 0 !important;
}

.ToolbarTitle.dropdown {
  margin-left: -15px !important;
  margin-bottom: 8px !important;
  padding-left: 5px !important;
  padding-right: 0 !important;
}

.CreateNode {
  text-align: left;
  float: left;
}

.CreateNodeInput {
  margin: 0 15px;
}

.NodeReference {
  font-size: 12px;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px;
}

.NodeReference:hover {
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s;
}

.WeightForm {
  /* margin: 20px; */
  /* padding-bottom: 20px; */
  /* display: inline-block; */
  /* text-align: center; */
}

.amcharts-chart-div a {display:none !important;}