.App {
  text-align: center;
  background-color: rgb(30, 30, 30);
}

.Categories {
  padding-top: 50px;
}

.Cards-container {
  /* background-color: white; */
}

.Card {
  text-align: center;
}

.Card-section {
  padding: 20px;
}
