body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  background-color: transparent !important;
}

html {
  height: 100%;
  /* background-color: rgb(30, 30, 30); */
  background-color: white;
}
